sequenceflow-support/SupportFlow OS.json
{
  "name": "SupportFlow OS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        224
      ],
      "id": "c2a3cd0d-fe7b-4806-876b-338bfad3470f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "11Z6SCGwDdWRnHOf",
          "name": "Sequence Flow Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\n\nlet from = \"\";\n\n// Gmail Trigger structure support\nif (raw.from && raw.from.email) {\n  from = raw.from.email;\n} else if (raw.From) {\n  const match = raw.From.match(/<(.+?)>/);\n  from = match ? match[1] : raw.From;\n}\n\nconst subject = raw.subject || raw.Subject || \"\";\nconst snippet = raw.snippet || \"\";\nconst text = raw.text || snippet || \"\";\n\nconst listId =\n  raw.headers?.[\"list-id\"] ||\n  raw[\"List-Id\"] ||\n  raw[\"list-id\"] ||\n  \"\";\n\nreturn [{\n  json: {\n    ...raw,\n    subject,\n    from,\n    snippet,\n    text,\n    listId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        224
      ],
      "id": "5cae99d0-1015-4bd9-ae09-5fdab71e7e87",
      "name": "Parse Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-noreply",
              "leftValue": "={{ $json.from }}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-noreply2",
              "leftValue": "={{ $json.from }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-google",
              "leftValue": "={{ $json.from }}",
              "rightValue": "@google.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-security",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Security alert",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-listid",
              "leftValue": "={{ $json.listId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        224
      ],
      "id": "239a6310-d700-496c-9afa-250ab1c22eff",
      "name": "Support Gate"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nreturn [{\n  json: {\n    from: input.from || \"\",\n    subject: input.subject || \"\",\n    text: input.text || input.snippet || \"\",\n    snippet: input.snippet || \"\",\n    customerName: \"klant\",\n    listId: input.listId || \"\",\n    threadId: input.threadId || input.id || \"\"   // 🔥 BELANGRIJK\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        224
      ],
      "id": "f82bf6fa-748b-494a-89d4-60c4e276d54d",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.subject + \" \" + $json.text).toLowerCase();\n\nlet intent = \"unknown\";\n\nif (/beschadigd|kapot|defect|stuk|krassen|scheur|damaged|broken/.test(text)) {\n  intent = \"damaged\";\n} else if (/retour|terugsturen|refund|terugbetaling|return/.test(text)) {\n  intent = \"return\";\n} else if (/ontbreekt|missen|niet compleet|mist|ontbrekend|missing/.test(text)) {\n  intent = \"missing_items\";\n} else if (/waar blijft|niet ontvangen|nog niet|te laat|vertraging|late|delay/.test(text)) {\n  intent = \"late_delivery\";\n}\n\nreturn [{\n  json: {\n    ...$json,\n    intent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        224
      ],
      "id": "1732913d-4851-4355-8f5d-6d5018bf160a",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-intent-unknown",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "2f83704b-92c4-4ee0-94ba-51ca36cac03d",
      "name": "Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-draft-subject",
              "name": "draft.subject",
              "value": "={{ 'Re: ' + $json.subject }}",
              "type": "string"
            },
            {
              "id": "assign-draft-body",
              "name": "draft.body",
              "value": "={{ \n($json.intent === 'damaged' \n? 'Beste ' + ($json.customerName || 'klant') + ',\\n\\nWat vervelend om te horen dat uw bestelling beschadigd is aangekomen.\\n\\nKunt u ons het ordernummer en 1-2 foto\\'s van de schade sturen? Dan lossen wij dit direct voor u op.' \n\n: $json.intent === 'late_delivery' \n? 'Beste ' + ($json.customerName || 'klant') + ',\\n\\nWat vervelend dat uw bestelling nog niet is aangekomen.\\n\\nKunt u ons uw ordernummer sturen? Dan kijken wij direct de status na en koppelen dit aan u terug.' \n\n: $json.intent === 'return' \n? 'Beste ' + ($json.customerName || 'klant') + ',\\n\\nU kunt uw bestelling retourneren via onze retourprocedure.\\n\\nStuur ons uw ordernummer, dan sturen wij u direct de retourinstructies.' \n\n: $json.intent === 'missing_items' \n? 'Beste ' + ($json.customerName || 'klant') + ',\\n\\nDank voor uw bericht. Het spijt ons dat er iets ontbreekt in uw levering.\\n\\nKunt u ons uw ordernummer en welke onderdelen ontbreken sturen? Dan lossen wij dit direct op.' \n\n: 'Beste ' + ($json.customerName || 'klant') + ',\\n\\nDank voor uw bericht. Kunt u ons uw ordernummer doorgeven? Dan helpen wij u direct verder.' \n\n) \n+ '\\n\\nMet vriendelijke groet,\\n\\nTeam SequenceFlow'\n}}",
              "type": "string"
            },
            {
              "id": "04cdd6dc-0b7e-4669-ac15-a632c145dd8d",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "34598751-fd8d-4c5c-9a57-3ae23e9a7e9f",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        48
      ],
      "id": "3888f80c-4f8f-4a2c-a545-b6b8f98de3f6",
      "name": "Template"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://emailreply.sequenceflow.io/api/support/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "from",
              "value": "={{ $json.from }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        448
      ],
      "id": "57e789c0-30ea-46af-b964-0963fa90f305",
      "name": "AI"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nlet subject = \"\";\nlet body = \"\";\n\nif (input.draft && input.draft.subject && input.draft.body) {\n  subject = input.draft.subject;\n  body = input.draft.body;\n} else {\n  const name = input.customerName || \"klant\";\n  subject = \"Re: \" + (input.subject || \"\");\n  body = \"Beste \" + name + \",\\n\\nDank voor uw bericht. Kunt u ons uw ordernummer doorgeven?\\n\\nMet vriendelijke groet,\";\n}\n\nreturn [{\n  json: {\n    ...$json,\n    draft: { subject, body }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "id": "095213dc-c4ae-474a-8ad4-c40cdb958e2f",
      "name": "Normalize Output"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{$json.draft.subject}}",
        "message": "={{$json.draft.body}}",
        "options": {
          "sendTo": "={{$json.from}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        224
      ],
      "id": "b3b5b6f5-a209-4a5b-84fe-78b98d748d49",
      "name": "Create Draft",
      "webhookId": "a53f0468-c292-4cd9-bd06-874944db348f",
      "credentials": {
        "gmailOAuth2": {
          "id": "11Z6SCGwDdWRnHOf",
          "name": "Sequence Flow Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Support Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Gate": {
      "main": [
        [],
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Output": {
      "main": [
        [
          {
            "node": "Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18396db8-95b5-4241-ac24-30bfe0f6a35a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b605a20b95a3ba2e77e646f9428910dc3bbf59aa432c06df596e7801f86f035"
  },
  "id": "6CYbpmdbGZdjl6Rp",
  "tags": []
}