workflows/support-flow-v1.json
{
  "name": "Support Flow – Live Brain",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c4ec737b-d38b-4aa1-88eb-b53a3030bc44",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "11Z6SCGwDdWRnHOf",
          "name": "Sequence Flow Gmail"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://effortlessly-posthemiplegic-many.ngrok-free.dev/api/support/generate",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"subject\": \"{{$json.Subject}}\",\n  \"body\": \"{{$json.snippet}}\",\n  \"from\": \"{{$json.From}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "3f07fc26-c16f-42c1-89d2-daca45e2ffc5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{$node[\"Gmail Trigger\"].json[\"Subject\"]}}",
        "message": "={{$node[\"HTTP Request\"].json[\"draft\"][\"body\"]}}",
        "options": {
          "sendTo": "={{$node[\"Gmail Trigger\"].json[\"From\"]}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8df44b7c-d595-4764-9bd9-eab3cebe4226",
      "name": "Create a draft",
      "webhookId": "a78bb022-e35f-4031-8516-236314cb2064",
      "credentials": {
        "gmailOAuth2": {
          "id": "11Z6SCGwDdWRnHOf",
          "name": "Sequence Flow Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7f63b0d7-b171-4cf7-bccb-1aa5c44a7133",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b605a20b95a3ba2e77e646f9428910dc3bbf59aa432c06df596e7801f86f035"
  },
  "id": "mpKFVdP-JXz9yhTUC8VT7",
  "tags": []
}